<h1>Listing quizzes</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Quiz type</th>
    <th>Question</th>
    <th>Options</th>
    <th>Correct</th>
  </tr>

  <%= render :partial => @quizzes %>
</table>

