<% if @learn_detail -%>
<% form_for(@learn_detail) do |f| -%>
<p><%= @learn_detail.quiz_type.name %></p>
<strong><%= @quiz.question.capitalize %></strong>
<p><%= memo_options @quiz %></p>
<%= f.submit "next" %>
<% end -%>
<% else -%>
Сурах үг алга
<% end -%>
