<p>
  <b>Name:</b>
  <%=h @quiz_type.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @quiz_type.description %>
</p>


<%= link_to 'Edit', edit_quiz_type_path(@quiz_type) %> |
<%= link_to 'Back', quiz_types_path %>
